h1 {
  margin-bottom: 16px;
}

#visualization {
  height: 510px;
  position: relative;
}

#server, .client {
  position: absolute;
  z-index: 100;
}

#server h2, .client h2 {
  font-size: 28px; line-height: 42px; margin-top: -8px;
}

#server {
  width: 900px;
  height: 90px;
}
#server h2 { color: #1e488d; }
#server th { width: 60px; }
.server-content td { font-family: monospace; }

.client {
  width: 420px; height: 190px;
  top: 280px;
}
.client .state { line-height: 24px; }
.client .state span { white-space: nowrap; overflow: hidden; }
.client .CodeMirror {
  background: #ffffff;
  border: 1px solid #dddddd;
}
.client .CodeMirror-gutter {
  background: #eeeeee;
}
.client .CodeMirror-scroll {
  height: 120px;
}

#alice { left: 0; }
#bob { right: 0; }

#alice h2        { color:      #d45e12; }
.operation.alice { background: #d45e12; }
#bob h2          { color:      #ca1171; }
.operation.bob   { background: #ca1171; }


.network-channel {
  position: absolute; top: 130px;
  width: 50px; height: 150px;
}

.network-channel a {
  position: absolute; left: 0;
  text-decoration: none;
  font-size: 24px; font-weight: bold;
  color: #1e488d;
}

.network-channel a.disabled {
  color: #cadce4;
  cursor: default;
}

.network-channel div {
  position: absolute; left: 23px; top: 0; bottom: 0;
  border-left: 3px dashed #daedef;
}

.up-channel a   { top:    10px; }
.down-channel a { bottom: 14px; }

#alice-send-channel    { left:  125px; }
#alice-receive-channel { left:  285px; }
#bob-send-channel      { right: 125px; }
#bob-receive-channel   { right: 285px; }

#server .operation, .client .operation {
  vertical-align: -20%;
  display: inline-block;
  width: 16px; height: 16px;
  border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;
}

.animate {
          transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.same-operation {
  -webkit-box-shadow: 0 0 16px #888;
}

.operation.highlighted {
  background: #ffff00 !important;
}

.network-channel .operation {
  display: block;
          transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  width: 24px; height: 24px;
  border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
  position: absolute; left: 13px;
}


.table-noheader tr:first-child td, .table-noheader tr:first-child th {
  border-top: none;
}

.op-retain { color: #3a3a3a; }
.op-insert { color: #1a7324; }
.op-delete { color: #ce1b0f; }

footer {
  border-top: 1px solid #eee;
  margin: 24px 0 0; padding: 8px 0;
  color: #555;
}