#visualization {
  position: relative;
}

#server, .client {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
  position: absolute;
  z-index: 100;
}

#server {
  background: #cadce4;
  width: 920px;
  height: 60px;
}

.client {
  width: 420px;
  top: 250px;
}

#alice {
  background: #8ed2a8;
  left: 0;
}

#bob {
  background: #dfb3a5;
  right: 0;
}

.network-channel {
  position: absolute; top: 100px;
  width: 50px; height: 150px;
}

.network-channel a {
  position: absolute; left: 0;
  text-decoration: none;
  font-size: 24px; font-weight: bold;
  color: #004bc3;
}

.network-channel a.disabled {
  color: #cadce4;
  cursor: default;
}

.network-channel div {
  position: absolute; left: 23px; top: 0; bottom: 0;
  border-left: 3px dashed #daedef;
}

.up-channel a   { top:    10px; }
.down-channel a { bottom: 10px; }

#alice-send-channel    { left:  125px; }
#alice-receive-channel { left:  285px; }
#bob-send-channel      { right: 125px; }
#bob-receive-channel   { right: 285px; }

.operation {
  display: block; width: 24px; height: 24px;
  border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
  position: absolute; left: 13px;
          transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.operation.alice { background: #006727; }
.operation.bob   { background: #cb4e26; }

.table-noheader tr:first-child td, .table-noheader tr:first-child th {
  border-top: none;
}

.op-retain { color: #3a3a3a; }
.op-insert { color: #1a7324; }
.op-delete { color: #ce1b0f; }